
<div>
  <.form
    let={f}
    for={@changeset}
    id="weight-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">

    <.form_field type="date_input" form={f} field={:date}/>
    <.form_field type="number_input" form={f} field={:weight} placeholder="in KG" step="any" />

    <div class="flex justify-end">
      <.button color="primary"
        type="submit"
        phx_disable_with="Saving..."
        label="Save" />
    </div>
  </.form>
</div>
